:root {
  --bg-color-banner: #050709;
}
footer {
  margin-top: 15%;
}
.container {
  margin: 1rem 6rem;
  font-family: "Monserrat";
  transition: 1s all;
  margin-bottom: 0 !important;
}

.banner {
  width: 100%;
  max-width: 100%;
  height: 400px;
  background-color: var(--bg-color-banner);
  margin-top: 1rem;
  border-radius: 2rem 2rem 0 0;
  display: flex;
  justify-content: space-between;
  transition: 1s all;
}
.banner-image {
  display: flex;
  width: 100%;
  overflow: hidden;
  border-radius: 2rem 2rem 0 0;
  justify-content: center;
}
.banner-image img {
  max-width: 100%;
  width: 1200px;
  height: 400px;
  text-align: center;
}
.banner-description {
  position: absolute;
  z-index: 1;
  color: white;
  text-align: left;
  padding-top: 6rem;
  padding-left: 8rem;
  transition: 1s all;
}
.banner-description h2 img {
  width: 400px;
}
.banner-description p {
  font-size: 1rem;
}
.input-search {
  width: 100%;
  margin-top: 3rem;
  color: #050709;
  display: flex;
  border-radius: 2rem;
  background-color: transparent;
  display: flex;
}
.input-search input {
  width: 100%;
  height: 50px;
  padding: 0.5rem;
  outline: none;
  border: none;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
}
.icon-search {
  display: flex;
  cursor: pointer;
  width: 50px;
  height: 50px;
  color: #050709;
  background-color: white;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  text-align: right;
  align-items: center;
  outline: none;
  border: none;
}
.icon-search i {
  outline: none;
  border: none;
}
/* BREED */
.section-breed {
  background-color: #e3e1dc;
  height: 450px;
  border-radius: 0 0 2rem 2rem;
  padding: 2rem 5rem 2rem 5rem;
}
.section-breed p {
  color: #291507;
  font-size: 18px;
  font-weight: 500;
}
a {
  text-decoration: none;
  color: #291507;
}
.section-breed .line {
  width: 30px;
  height: 2px;
  background-color: #291507;
}
.see-more {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.see-more p {
  color: #291507;
  font-weight: bold;
  font-size: 40px;
}
.see-more a {
  font-size: 18px;
  font-weight: bold;
  color: rgba(41, 21, 7, 0.6);
  text-decoration: none;
}
.section-breed-images {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 10px;
}
.catmore {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.catmore .images {
  margin-left: 2rem;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  gap: 10px;
}
.catmore .images .image-item img {
  width: 100%;
}
.catmore .images .image-item:nth-child(2) {
  grid-column: 2;
  grid-row: 1 / 3;
}
.catmore .images .image-item:nth-child(2) img {
  height: 100%;
  object-fit: cover;
  border-radius: 12px;
}
.search-autocomplete {
  margin-top: 2rem;
}
.search-autocomplete .wrapper .igZibq {
  min-height: 30px;
}
.search-autocomplete .wrapper .igZibq > svg,
.search-autocomplete .wrapper .evwHCa > svg {
  margin-left: 10px !important;
}
.search-autocomplete .wrapper .igZibq,
.search-autocomplete .wrapper .evwHCa {
  font-size: 10px;
}

@media only screen and (min-width: 0px) and (max-width: 350px) {
  .container {
    margin: 0.5rem 2rem;
  }
  .banner {
    height: 150px;
  }
  .banner-image img {
    height: 150px;
  }
  .banner-description,
  .section-breed,
  .catmore {
    padding-top: 1.5rem;
    padding-left: 1.5rem;
  }
  .banner-description h2 {
    width: 100%;
    font-size: 1.3rem;
  }
  .banner-description h2 img {
    width: 100px;
  }
  .banner-description p {
    font-size: 0.4rem;
  }
  .input-search {
    margin-top: 1rem;
    height: 25px;
  }
  .input-search input {
    width: 70px;
    height: 25px;
    font-size: 10px;
  }
  .icon-search {
    width: 20px;
    height: 25px;
  }
  .section-breed,
  .catmore {
    padding-right: 1.5rem;
  }
  .section-breed p {
    font-size: 12px;
  }
  .see-more {
    margin-top: 1rem;
  }
  .see-more p {
    font-size: 18px;
    text-align: justify;
  }
  .see-more a {
    display: none;
  }
  .section-breed-images {
    grid-template-columns: auto auto;
  }
  .card-breed-image {
    margin-top: 1rem;
  }
  .card-breed-image img {
    width: 100%;
  }
  .card-breed-image p {
    color: #291507;
    font-weight: bold;
    font-size: 12px;
  }
  footer {
    background-color: #000000;
    color: white;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    display: block;
    padding: 0 2rem;
  }
  footer p {
    font-size: 12px;
    text-align: left;
  }
  .catmore {
    margin-top: 1rem;
  }
  .catmore .description .why {
    width: 50px;
    height: 4px;
    background-color: #4d270c;
    border-radius: 5px;
  }
  .catmore .description .title p {
    font-size: 30px;
    color: #291507;
    font-weight: bold;
    text-align: left;
  }
  .catmore .description p {
    color: #291507;
    text-align: justify;
    font-size: 14px;
  }
  .catmore .description a {
    color: rgba(41, 21, 7, 0.6);
    font-size: 12px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
  }
  .catmore {
    margin-bottom: 3rem;
  }
  .catmore .description .title,
  .catmore .description p,
  .catmore .description a {
    margin-bottom: 2rem;
  }

  .catmore .description .title p {
    margin-bottom: 0;
  }
  .catmore {
    display: block;
  }
  .catmore .images {
    margin-top: 2rem;
    margin-left: 0;
  }
  .catmore .images .image-item img {
    border-radius: 12px;
  }
  .search-autocomplete {
    margin-top: 1rem;
  }
  .container-top {
    margin: 1rem 0;
  }
  .container-top .container-top-title {
    color: #291507;
    font-weight: bold;
    text-transform: uppercase;
  }
  .container-images-top {
    display: flex;
    flex-direction: column;
  }
  .container-images-top img {
    border-radius: 12px;
  }
  .container-item-top {
    display: block;
    margin-top: 2rem;
  }
  .container-description-top {
    margin-left: 0;
    margin-top: 1rem;
  }
  .container-detail-description {
    margin-top: 2rem;
    color: #291507;
  }
  .container-detail-description img {
    object-fit: cover;
    border-radius: 12px;
    width: 220px;
    height: 220px;
  }
  .container-detail-description .detail-description {
    margin-left: 0;
  }
  .container-detail-description .detail-description > div {
    margin-bottom: 1rem;
  }
  .container-detail-description .detail-description .title {
    font-size: 30px;
    font-weight: bold;
  }
  .container-detail-description .detail-description .description-score {
    width: 40px;
    height: 10px;
    border-radius: 10px;
    background-color: #e0e0e0;
  }
  .score-container {
    display: flex;
    margin-top: 1rem;
    justify-content: left;
  }
  .breed-detail {
    display: block;
    align-items: center;
  }
  .description-score {
    margin-left: 1rem;
  }
  .description-score:nth-child(1) {
    margin-left: 0;
  }
}
/* min-width: Aplica a partir de los PX especificados */
/* max-width: Aplica hasta los PX especificados */

@media only screen and (min-width: 350px) {
  .container {
    margin: 0.5rem 2rem;
  }
  .banner {
    height: 150px;
  }
  .banner-image img {
    height: 150px;
  }
  .banner-description,
  .section-breed,
  .catmore {
    padding-top: 1.5rem;
    padding-left: 2rem;
  }
  .banner-description h2 {
    width: 100%;
    font-size: 1.3rem;
  }
  .banner-description h2 img {
    width: 130px;
  }
  .banner-description p {
    font-size: 0.5rem;
  }
  .input-search {
    margin-top: 1rem;
    height: 25px;
  }
  .input-search input {
    width: 90px;
    height: 25px;
    font-size: 10px;
  }
  .icon-search {
    width: 20px;
    height: 25px;
  }
  .section-breed p {
    font-size: 12px;
  }
  .see-more {
    margin-top: 1rem;
  }
  .see-more p {
    font-size: 18px;
    text-align: justify;
  }
  .see-more a {
    display: none;
  }
  .section-breed,
  .catmore {
    padding-right: 1.5rem;
  }
  .section-breed-images {
    grid-template-columns: auto auto;
  }
  .card-breed-image {
    margin-top: 1rem;
  }
  .card-breed-image img {
    border-radius: 12px;
    width: 100%;
    object-fit: cover;
  }
  .card-breed-image p {
    color: #291507;
    font-weight: bold;
    font-size: 12px;
  }
  footer {
    background-color: #000000;
    color: white;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    padding: 0 2rem;
  }
  footer p {
    font-size: 12px;
    text-align: center;
  }
  .catmore {
    margin-bottom: 3rem;
    margin-top: 1rem;
  }
  .catmore .description .why {
    width: 50px;
    height: 4px;
    background-color: #4d270c;
    border-radius: 5px;
  }
  .catmore .description .title p {
    font-size: 30px;
    color: #291507;
    font-weight: bold;
    text-align: left;
  }
  .catmore .description p {
    color: #291507;
    text-align: justify;
    font-size: 14px;
  }
  .catmore .description a {
    color: rgba(41, 21, 7, 0.6);
    font-size: 12px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
  }
  .catmore .description .title,
  .catmore .description p,
  .catmore .description a {
    margin-bottom: 2rem;
  }
  .catmore .description .title p {
    margin-bottom: 0;
  }
  .catmore {
    display: block;
  }
  .catmore .images {
    margin-top: 2rem;
    margin-left: 0;
  }
  .catmore .images .image-item img {
    border-radius: 12px;
    object-fit: cover;
  }
  .search-autocomplete {
    margin-top: 1rem;
  }
  .container-top {
    margin: 1rem 0;
  }
  .container-top .container-top-title {
    color: #291507;
    font-weight: bold;
    text-transform: uppercase;
  }
  .container-images-top {
    display: flex;
    flex-direction: column;
  }
  .container-images-top img {
    border-radius: 12px;
  }
  .container-item-top {
    display: block;
    margin-top: 2rem;
  }
  .container-description-top {
    margin-left: 0;
    margin-top: 1rem;
  }
  .container-detail-description {
    margin-top: 2rem;
    color: #291507;
  }
  .container-detail-description img {
    object-fit: cover;
    border-radius: 12px;
    width: 220px;
    height: 220px;
  }
  .container-detail-description .detail-description {
    margin-left: 0;
    margin-top: 1rem;
  }
  .container-detail-description .detail-description > div {
    margin-bottom: 1rem;
  }
  .container-detail-description .detail-description > div strong {
    font-size: 15px;
  }
  .container-detail-description .detail-description .title {
    font-size: 30px;
    font-weight: bold;
  }
  .container-detail-description .detail-description .description-score {
    width: 40px;
    height: 10px;
    border-radius: 10px;
    background-color: #e0e0e0;
  }
  .score-container {
    display: flex;
    margin-top: 1rem;
    justify-content: left;
  }
  .breed-detail {
    display: block;
    align-items: center;
  }
  .description-score {
    margin-left: 1rem;
  }
  .description-score:nth-child(1) {
    margin-left: 0;
  }
}

@media only screen and (min-width: 430px) {
  .container {
    margin: 0.5rem 2rem;
  }
  .banner {
    height: 150px;
  }
  .banner-image img {
    height: 150px;
  }
  .banner-description {
    padding-top: 1.5rem;
    padding-left: 2rem;
  }
  .banner-description h2 img {
    width: 170px;
  }
  .banner-description p {
    font-size: 0.6rem;
  }
  .input-search {
    margin-top: 1rem;
    height: 25px;
  }
  .input-search input {
    width: 100px;
    height: 25px;
    font-size: 10px;
  }
  .icon-search {
    width: 20px;
    height: 25px;
  }
  footer {
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }
  .catmore .description .title p {
    font-size: 36px;
  }
  .search-autocomplete {
    margin-top: 0.4rem;
  }
}

@media only screen and (min-width: 515px) {
  .container {
    margin: 1rem 4rem;
  }
  .banner {
    height: 220px;
  }
  .banner-image img {
    height: 220px;
  }
  .banner-description {
    padding-top: 3rem;
    padding-left: 2rem;
  }
  .banner-description h2 {
    font-size: 1.2rem;
  }
  .banner-description h2 img {
    width: 200px;
  }
  .banner-description p {
    font-size: 0.8rem;
  }
  .input-search {
    margin-top: 1.5rem;
  }
  .input-search input {
    width: 130px;
    height: 35px;
    font-size: 12px;
  }
  .icon-search {
    width: 20px;
    height: 35px;
  }
  .section-breed,
  .catmore {
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .section-breed p {
    font-size: 12px;
  }
  .see-more,
  .catmore {
    padding-top: 1rem;
  }
  .see-more p {
    font-size: 18px;
    text-align: justify;
  }
  .see-more a {
    display: block;
    font-size: 12px;
  }
  .section-breed-images {
    grid-template-columns: auto auto auto;
  }
  .catmore .description p {
    font-size: 16px;
  }
  .catmore .description a {
    font-size: 16px;
  }
  .search-autocomplete {
    margin-top: 0.8rem;
  }
  .search-autocomplete .wrapper .igZibq {
    min-height: 44px;
  }
  .search-autocomplete .wrapper .igZibq,
  .search-autocomplete .wrapper .evwHCa {
    font-size: 14px;
  }
  .container-item-top {
    display: flex;
    margin-top: 2rem;
  }
  .container-description-top {
    margin-left: 1rem;
  }
  .breed-detail {
    display: flex;
  }
  .score-container {
    margin-top: 0;
    margin-left: 1rem;
  }
}

@media only screen and (min-width: 650px) {
  .container {
    margin: 1rem 5rem;
  }
  .banner {
    height: 300px;
  }
  .banner-image img {
    height: 300px;
  }
  .banner-description,
  .catmore {
    padding-top: 4rem;
    padding-left: 3rem;
  }
  .banner-description h2 img {
    width: 240px;
  }
  .banner-description p {
    font-size: 1rem;
  }
  .input-search {
    margin-top: 1.5rem;
  }
  .input-search input {
    width: 180px;
    height: 35px;
    font-size: 12px;
  }
  .icon-search {
    width: 20px;
    height: 35px;
  }
  footer {
    padding: 0 3rem;
  }
  .catmore {
    margin-top: 3rem;
    padding-top: 0;
  }
  .catmore .description p {
    font-size: 18px;
  }
  .catmore .description a {
    font-size: 18px;
  }
  .search-autocomplete .wrapper .igZibq {
    min-height: 48px;
  }
}

@media only screen and (min-width: 768px) {
  .banner {
    height: 340px;
  }
  .banner-image img {
    height: 340px;
  }
  .banner-description,
  .section-breed,
  .catmore {
    padding-top: 4rem;
    padding-left: 4rem;
  }
  .banner-description h2 img {
    width: 280px;
  }
  .banner-description p {
    font-size: 1.2rem;
  }
  .input-search {
    margin-top: 2rem;
  }
  .input-search input {
    width: 250px;
    height: 50px;
    font-size: 14px;
  }
  .icon-search {
    width: 30px;
    height: 50px;
  }
  .section-breed p {
    color: #291507;
    font-size: 14px;
  }
  .see-more p {
    font-weight: bold;
    font-size: 32px;
  }
  .see-more a {
    font-size: 14px;
    font-weight: bold;
  }
  .section-breed,
  .catmore {
    padding-right: 4rem;
  }
  .section-breed-images {
    grid-template-columns: auto auto auto auto;
  }
  .card-breed-image p {
    font-size: 14px;
  }
  footer {
    padding: 0 4rem;
  }
  footer p {
    font-size: 14px;
  }
  .catmore {
    display: flex;
    margin-top: 3rem;
    padding-top: 0;
  }
  .catmore .images {
    margin-left: 2rem;
  }
  .catmore .description .title p {
    font-size: 36px;
  }
  .search-autocomplete .wrapper .igZibq {
    min-height: 52px;
  }
  .container-detail-description {
    display: flex;
  }
  .container-detail-description .detail-description {
    margin-left: 3rem;
  }
}

@media only screen and (min-width: 968px) {
  .banner {
    height: 450px;
  }
  .banner-image img {
    height: 450px;
  }
  .banner-description,
  .section-breed,
  .catmore {
    padding-top: 4rem;
    padding-left: 4rem;
  }
  .banner-description h2 img {
    width: 300px;
  }
  .banner-description p {
    font-size: 1.2rem;
  }
  .input-search {
    margin-top: 1.5rem;
  }
  .input-search input {
    width: 300px;
    height: 50px;
    font-size: 18px;
  }
  .icon-search {
    width: 30px;
    height: 50px;
  }
  .section-breed p {
    color: #291507;
    font-size: 18px;
  }
  .see-more p {
    font-weight: bold;
    font-size: 44px;
  }
  .see-more a {
    font-size: 18px;
    font-weight: bold;
  }
  .card-breed-image p {
    font-size: 18px;
  }
  footer p {
    font-size: 18px;
  }
  .catmore .description .title p {
    font-size: 44px;
  }
}
